@using QuickAd.Models
@using QuickAd.ViewHelpers
@model QuickAd.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edycja konta</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.VfirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VfirstName)
            @Html.ValidationMessageFor(model => model.VfirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VlastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VlastName)
            @Html.ValidationMessageFor(model => model.VlastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VdateOfBirth)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VdateOfBirth, new { type="date" })
            @Html.ValidationMessageFor(model => model.VdateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vcity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vcity)
            @Html.ValidationMessageFor(model => model.Vcity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vstreet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vstreet)
            @Html.ValidationMessageFor(model => model.Vstreet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VbuildingNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VbuildingNumber)
            @Html.ValidationMessageFor(model => model.VbuildingNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VhomeNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VhomeNumber)
            @Html.ValidationMessageFor(model => model.VhomeNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidSex)
        </div>
        <div class="editor-field">
            @Html.GetSexSelect(((User)ViewData["copyModel"]).VidSex)
            @Html.ValidationMessageFor(model => model.VidSex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VphoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VphoneNumber)
            @Html.ValidationMessageFor(model => model.VphoneNumber)
        </div>


        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}

@Html.Partial("OwnAdvertsList",(object)ViewBag.Adverts)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
