@model IEnumerable<QuickAd.Models.Image>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vpath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vextension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisPrivate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VidAdvertise)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vpath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vextension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisPrivate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VidAdvertise)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
