@using QuickAd.ViewHelpers
@model QuickAd.Models.Advertise

@{
    ViewBag.Title = "Dodaj nowe ogłoszenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div class="error">@ViewBag.Message</div>

@using (Html.BeginForm("Create","Advert",FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ogłoszenie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vtitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vtitle)
            @Html.ValidationMessageFor(model => model.Vtitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vcontent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vcontent)
            @Html.ValidationMessageFor(model => model.Vcontent)
        </div>
<div class="editor-label">
            @Html.LabelFor(model => model.Vprice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vprice)
            @Html.ValidationMessageFor(model => model.Vprice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VadditionalInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VadditionalInfo)
            @Html.ValidationMessageFor(model => model.VadditionalInfo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.VidAdvertCategory)
        </div>
        <div class="editor-field">
            
            @Html.BuildSelectCategories(1, "category", "")
            @Html.ValidationMessageFor(model => model.VidAdvertCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidTerritory)
        </div>
        <div class="editor-field">
            @Html.BuildSelectRegion(1, "territory", "")
            @Html.ValidationMessageFor(model => model.VidTerritory)
        </div>
        <p>
            <input type="submit" value="Dodaj!" />
        </p>
    </fieldset>
}

<div>
    <!--@Html.ActionLink("Powrót do listy", "Index")-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
