@model QuickAd.Models.Advertise

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Advertise</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vid)
            @Html.ValidationMessageFor(model => model.Vid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vtitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vtitle)
            @Html.ValidationMessageFor(model => model.Vtitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VidUser)
            @Html.ValidationMessageFor(model => model.VidUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vcontent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vcontent)
            @Html.ValidationMessageFor(model => model.Vcontent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vvalidity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vvalidity)
            @Html.ValidationMessageFor(model => model.Vvalidity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vvisits)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vvisits)
            @Html.ValidationMessageFor(model => model.Vvisits)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vprice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vprice)
            @Html.ValidationMessageFor(model => model.Vprice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VadditionalInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VadditionalInfo)
            @Html.ValidationMessageFor(model => model.VadditionalInfo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VvisibleToOthers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VvisibleToOthers)
            @Html.ValidationMessageFor(model => model.VvisibleToOthers)
        </div>

        
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
