@using QuickAd.Models
@model QuickAd.Models.Advertise

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły:</h2>

<fieldset>
    <legend>Ogłoszenie:</legend>
 <div class="display-label">
         @Html.DisplayNameFor(model => model.Vtitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vtitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VidUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VidUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vcontent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vcontent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vvisits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vvisits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vprice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vprice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VadditionalInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VadditionalInfo)
    </div>
</fieldset>

@Html.Partial("ImagesGallery",(object) SessionFactory.GetNewSession().CreateQuery("from Image i Where VidAdvertise = :id_advertise").SetParameter("id_advertise", ViewBag.id).List<Image>())
@Html.Partial("Email", new Email(DBHelper.FindOne<User>(((Advertise)ViewData["copyModel"]).GetIdUser() )))
@Html.Partial("AdvertRate", new AdvertRate(Model))
@Html.Partial("Comment", new Comment(Model))
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
