@using QuickAd.Models
@using QuickAd.ViewHelpers
@using QuickAd.Models.DBO
@model QuickAd.Models.Advertise


@{
    ViewBag.Title = "Edycja ogłoszenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Advert", new { id = ((Advertise)ViewData["copyModel"]).Vid }, FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ogłoszenie</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.Vtitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vtitle)
            @Html.ValidationMessageFor(model => model.Vtitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vcontent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vcontent)
            @Html.ValidationMessageFor(model => model.Vcontent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vvalidity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vvalidity)
            @Html.ValidationMessageFor(model => model.Vvalidity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vprice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vprice)
            @Html.ValidationMessageFor(model => model.Vprice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VadditionalInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VadditionalInfo)
            @Html.ValidationMessageFor(model => model.VadditionalInfo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidAdvertCategory)
        </div>
        <div class="editor-field">
            
            @Html.BuildSelectCategories(((Advertise)ViewData["copyModel"]).VidAdvertCategory, "category", "")
            @Html.ValidationMessageFor(model => model.VidAdvertCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VidTerritory)
        </div>
        <div class="editor-field">
            @Html.BuildSelectRegion(((Advertise)ViewData["copyModel"]).VidTerritory, "territory", "")
            @Html.ValidationMessageFor(model => model.VidTerritory)
        </div>
        @Html.Partial("ImagesGallery", (object)SessionFactory.GetNewSession().CreateQuery("from Image i Where VidAdvertise = :id_advertise").SetParameter("id_advertise", ((Advertise)ViewData["copyModel"]).Vid).List<Image>())

        <p>
            <input type="submit" value="Zapisz" />
        </p>
        <p>
            <input type="button" value="Dodaj zdjęcie" onclick="$(this).addFileUpload()"/>
        </p>
    </fieldset>
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/default.js")
}
