@model IEnumerable<QuickAd.Models.Advertise>

@{
    ViewBag.Title = "Lista ogłoszeń";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="advertsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vcontent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vvalidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vvisits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vprice)
        </th>
        <th></th>
    </tr>

@foreach (QuickAd.Models.Advertise item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vcontent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vvalidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vvisits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vprice)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Vid }) |
            @Html.ActionLink("Zobacz", "Details", new { id=item.Vid }) 
        </td>
    </tr>
}

</table>
