@using QuickAd.Models
@model IEnumerable<QuickAd.Models.Comment>

@{
    ViewBag.Title = "CommentsList";
    var c = ViewData;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Komentarze</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vcontent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VcreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (Comment item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vcontent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VcreatedDate)
        </td>
        <td>
           @if (Session["User"] != null)
           {
               if (((User)Session["User"]).IsAdmin())
               {
                @Html.ActionLink("Delete", "Delete", new { id = item.Vid })
               }
           }
        </td>
    </tr>
}

</table>
