@using QuickAd.Models
@model IEnumerable<QuickAd.Models.Comment>

@{
    ViewBag.Title = "CommentsList";
}

@{int size = ((List<Comment>)Model).Count;
  
  }
@if (size > 0)
{
<h4>Komentarze</h4>

<div class="comment-div">
@foreach (Comment item in Model)
{
    <div class="comment-div-header"><b>@String.Format("{0}", DBHelper.FindOne<User>(item.VidUser).Vemail)</b>, dnia <b>@Html.DisplayFor(modelItem => item.VcreatedDate)</b> pisze:<br> <strong>@Html.DisplayFor(modelItem => item.Vtitle)</strong></div>        
    <div>@Html.DisplayFor(modelItem => item.Vcontent)</div>
    <div>
           @if (Session["User"] != null)
           {
               if (((User)Session["User"]).IsAdmin())
               {
                @Html.ActionLink("Delete", "DeleteComment", new { id = item.Vid })
               }
           }
     </div>
}
</div>
}