@using QuickAd.Models
@model QuickAd.Models.Comment

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Comment","Advert",FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Komentarz</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vtitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vtitle)
            @Html.ValidationMessageFor(model => model.Vtitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vcontent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vcontent)
            @Html.ValidationMessageFor(model => model.Vcontent)
        </div>
        <input type="hidden" name="redirect_ok" value="@Request.RawUrl"/>
        <input type="hidden" name="creator" value="@String.Format("{0}",((Advertise)ViewData["copyModel"]).Vid)"/>
        <p>
            <input type="submit" value="Wyślij" />
        </p>
    </fieldset>
}
