@model QuickAd.Models.Email

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Odpisz do ogłaszającego:</h2>
@using (Html.BeginForm("Add","Email")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Email</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Vtitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vtitle)
            @Html.ValidationMessageFor(model => model.Vtitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vcontent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vcontent)
            @Html.ValidationMessageFor(model => model.Vcontent)
        </div>

        <p>
            <input type="submit" value="Wyślij" />
        </p>
    </fieldset>
}
