@model IEnumerable<QuickAd.Models.Advertise>

<p>
    @Html.ActionLink("Dodaj nową", "Create","Advert")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vcontent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vvalidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vvisits)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vcontent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vvalidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vvisits)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Vid  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Vid  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Vid  })
        </td>
    </tr>
}

</table>
